
      <form action="/user/login" method="POST">
        <input name="email" type="text" placeholder="email" required>
        <input name="password" type="password" placeholder="password" required>
        <button type="submit">Login</button>
      </form>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">SignUp</a></li>
    </ul>
